.main-div {
    margin: 10px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}
.Home h1 {
    
    border-bottom: 3px solid rgba(3, 7, 245, 0.836);
    margin: 0 700px;
    padding-top: 100px;
    color: rgba(113, 153, 68, 0.815);
}

