.login-page.flexbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 800px;
}

.flexbox-item-1{
    min-height: 500px;

}

.flexbox-item-2{
    min-height: 50px;
}

.flexbox-error{
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: bold;
    color: #337ab7;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(79, 98, 148);
}

form {
    border-color: #000;
    max-width: 500px;
    margin: 10 auto;
    }
    
.form {
border-color: #000;
max-width: 400px;
margin: 150px;
padding: 10px;
}

.span-login{
    font-size: larger;
}

.p-login, .span-login{
color: red;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

p::before {
display: inline;
content: "⚠ ";
}

input {
display: block;
box-sizing: border-box;
width: 400px;
border-radius: 4px;
border: 1px solid black;
padding: 10px 12px;
margin-bottom: 30px;
font-size: 14px;
}

label {
line-height: 2;
text-align: left;
display: block;
margin-bottom: 8px;
margin-top: 13px;
color: black;
font-size: 18px;
font-weight: 500;
}

button[type="submit"],
input[type="submit"]{
background: #337ab7;
color: white;
text-transform: uppercase;
border: none;
margin-top: 40px;
padding: 20px;
font-size: 16px;
font-weight: 100;
letter-spacing: 5px;
}
